@using AutoDetailingApp.Web.ViewModels
@using AutoDetailingApp.Web.ViewModels.Reservation


@model ReservationFormModel

@section Styles{
    <link rel="stylesheet" href="~/css/reservation.css" asp-append-version="true">

}

@{
    ViewData["Title"] = "Резервирай час";
}

<div class="background image"></div>
<div class="reservation-main">
    <div class="reservation-form">
        <h2>Запиши час за детайлинг</h2>
        <form method="post" asp-action="ReservationForm" class="booking-form">
            <label> Име и фамилия:</label>
            <input asp-for = "FullName" type="text" placeholder="Вашето име" required>

            <label>Телефон за връзка:</label>
            <input asp-for = "PhoneNumber" type="tel" placeholder="+359XXXXXXXXX" required>

            <label>Имейл:</label>
            <input asp-for = "Email" type="email"/>

            <label>Дата и час:</label>
            <input asp-for="DateForReservation" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                   value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                    required>

            <label>Тип услуга:</label>
            <select asp-for = "ServiceId" asp-items="Model.AvailableServices" required >
                <option value="">Избери услуга</option>
            </select>

            <label>Коментар:</label>
            <textarea rows="3" placeholder="Допълнителна информация..." asp-for="Comment"></textarea>

            <button type="submit">Резервирай</button>
        </form>

    </div>
</div>

@section Scripts{
    <script src="~/js/calendar.js" asp-append-version="true"></script>
}             