<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoDetailingApp</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AutoDetailingApp.styles.css" asp-append-version="true"/>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="navigation" id="mainNavbar">
            <nav>
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Vivo Detailing</a>
                </div>
                <ul>
                    <li><a  asp-area="" asp-controller="Home" asp-action="Index">Начало</a></li>
                    <li><a  asp-area="" asp-controller="Service" asp-action="Service">Услуги</a></li>
                    <li><a  asp-area="" asp-controller="Home" asp-action="Price">Цени</a></li>
                    <li><a  asp-area="" asp-controller="Home" asp-action="AboutUs">За нас</a></li>
                    <li><a  asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a></li>
                </ul>
                <div class="nav-actions">
                    <button class="navbar-toggler" type="button" ><a href="login.html">Логин</a></button>
                    <a href="https://www.instagram.com/vivodetailing/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <button><a href="reservation.html">РЕЗЕРВИРАЙ ЧАС</a></button>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="vivo-footer">
        <div class="footer-container">
            <div class="footer-column">
                <h3>РАБОТНО ВРЕМЕ</h3>
                <p>Понеделник – Петък<br>9:00 – 18:00</p>
                <p>Събота<br>10:00 – 16:00</p>
                <p>Неделя<br>Затворено</p>
            </div>
            <div class="footer-column">
                <h3>ИЗПИТА ЛИ НАСЛАДА ОТ УСЛУГАТА?</h3>
                <p>Ще се радваме да ни оставиш мнение в <a href="https://www.instagram.com/vivodetailing/" target="_blank">Instagram!</a></p>
            </div>
            <div class="footer-column">
                <h3>VIVO DETAILING</h3>
                <p>гр. Пазарджик, България</p>
                <p>Email: info@vivodetailing.bg</p>
                <p>Телефон: 0888 123 456</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Vivo Detailing. Всички права запазени.</p>
        </div>
    </footer>

    <script src="~/js/navigation.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
