@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Exo 2', sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(/images/login.background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.login-form {
	background-color: #010127b2;
	backdrop-filter: blur(5px);
	position: relative;
	z-index: 1;
	border-radius: 20px;
	padding: 40px;
	width: 100%;
	max-width: 450px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.input-field {
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-size: 16px;
	background-color: white;
}

	.input-field:focus {
		border-color: #007bff;
		outline: none;
		box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
	}

.options {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
}

	.options label {
		display: flex;
		align-items: center;
		gap: 8px;
		color: white;
		cursor: pointer;
	}

	.options a {
		color: white;
		text-decoration: none;
	}

		.options a:hover {
			text-decoration: underline;
		}

.login-button {
	width: 100%;
	padding: 15px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 20px;
	transition: bakcground-color 0.3s;
}

	.login-button:hover {
		background-color: #0056b3;
	}



.login-form h2 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 28px;
	color: white;
}

#paragraph {
	color: white;
	text-align: center;
	margin-bottom: 30px;
}

.footer {
	text-align: center;
	padding: 10px 0;
	color: white;
}
