@*

*@
@{
    ViewData["Title"] = "За нас";
}

<section class="quality-service">
    <div class="service-container">
        <h2>ВИСОКОКЕЧЕСТВЕНИ УСЛУГИ</h2>
        <p class="service-description">
            <strong>VivoDetailing</strong> - професионално детайлинг обслужване.
            Оставяме лъскав изглед и перфектни детайли, без компромиси с качеството!
        </p>
        <button class="cta-button">РЕЗЕРВИРАЙ</button>
    </div>
</section>

<section class="satisfied-clients">
    <div class="satisfied-container">
        <h1>НАШАТА ЦЕЛ Е ДОВОЛНИ КЛИЕНТИ</h1>
        <hr>
    </div>
</section>

<section class="more-info">
    <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11832.190693322109!2d24.40148211817518!3d42.14926663748857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acba3ea4d1b793%3A0xa00a014cd0ec2c0!2zNDQxNyDQntCz0L3Rj9C90L7QstC-!5e0!3m2!1sbg!2sbg!4v1744825726062!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="more-info-container">
        <h1>Изкуството да превърнеш колата си в перфектна!</h1>
        <h2>Млад, амбициозен екип, задвижван от страст към автомобилите и перфектния резултат.</h2>
        <p>Защо сме различни?</p>
        <ul>
            <li>Работим само с маркови препарати и най-добрата техника</li>
            <li>Внимание към всеки микродетайл – от интериора до керамичната защита</li>
            <li>Страстта ни е да превъзнасяме обикновеното</li>
        </ul>
    </div>
</section>
