
@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
}

@{
    ViewData["Title"] = "Професионален Детайлинг в град Пазарджик - Vivo Detailing";
}



<section class="main">
    <div class="first-page">
        <h2>ПРЕМИУМ УСЛУГИ ЗА ДЕТАЙЛИНГ НА АВТОМОБИЛИ В ПАЗАРДЖИК</h2>
        <a asp-controller="ReservationController" asp-action="Reservation">РЕЗЕРВИРАЙ</a>
    </div>

    <div class="second-page">
        <h2>ТЪРСИШ ПОВЕЧЕ ИНФОРМАЦИЯ?<br>ОБАДИ СЕ СЕГА</h2>
        <a asp-area="" asp-controller="ContactController" asp-action="Contact">СВЪРЖИ СЕ С НАС</a>
    </div>

    <div class="third-page">
        <div class="service-card">
            <h1>Външен детайлинг</h1>
            <p>за екстериора на Вашия автомобил</p>
        </div>

        <div class="service-card">
            <h1>Вътрешен детайлинг</h1>
            <p>за интердора на Вашия автомобил</p>
        </div>
    </div>

    <div class="fourth-page">
        <h1>МНЕНИЯ ОТ КЛИЕНТИ</h1>

        <div class="opinions-container">
            <div class="opinion-card">
                <div class="customer-name">ЙОРДАН Д.</div>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <div class="review-text">
                    "Vivo Detailing не разочарова. Използвам ги от няколко години и винаги правят отлична работа. Колата ми изглежда като нова, когато свършат. Достъпни цени и качествени услуги. Напълно препоръчвам!"
                </div>
            </div>

            <div class="opinion-card">
                <div class="customer-name">МАРТИН С.</div>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <div class="review-text">
                    "Наскоро използвах услугите на Vivo Detailing за първи път и бях впечатлена. Колата ми изглежда по-чиста отколкото в деня, в който я купих. Страхотна работа и отлично обслужване. Горещо препоръчвам!"
                </div>
            </div>

            <div class="opinion-card">
                <div class="customer-name">ИВО П.</div>
                <div class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="review-text">
                    "Използвах Vivo за първи път и бях впечатлен от тяхната точност и цялостно обслужване. Когато свършиха, колата ми изглеждаше и се усещаше години по-млада. Наистина оцених вниманието към детайлите!"
                </div>
            </div>

        </div>
    </div>

    <div class="fifth-page">
        <script src="https://static.elfsight.com/platform/platform.js" async></script>
        <div class="elfsight-app-76831029-863b-4d55-97be-d5760879e51e" data-elfsight-app-lazy></div>
    </div>
</section>
