@page
@model ForgotPasswordModel
@section Styles{
    <link href="~/css/forgotPassword.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/CSS/forgotPassword.css">
</head>
<body>
    <div class="background-overlay"></div>
    <form method="post">
        <div class="login-form">
            <h2>Забравена парола</h2>
            <p id="paragraph">Въведете вашият email</p>
            <input asp-for="Input.Email" type="email" class="input-field" placeholder="Enter your email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <button type="submit" class="login-button">Submit</button>
        </div> 
    </form>

    <div class="footer">
        <footer>
            <p>All rights reserved &copy;</p>
        </footer>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
