@page
@model LoginModel
@{
    ViewData["Title"] = "Логин";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="background-overlay"></div>
    <div class="login-form">
        <h2>Login</h2>
        <form method="post">
            <input type="email" class="input-field" placeholder="Enter your email">
            <input type="password" class="input-field" placeholder="Enter your password">       
        </form>

        <div class="options">
            <label>
                <input asp-for = "Input.RememberMe" type="checkbox"> Remember me
            </label>

            <p><a asp-page="./ForgotPassword">Forgot password?</a></p>
        </div>

        <button type = "submit" class="login-button">Log In</button>

        <p class="register-text">Don't have an account? <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
    </div>

    <div class="footer">
        <footer>
            <p>All rights reserved &copy;</p>
        </footer>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
