@page
@model AutoDetailingApp.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/register.css" />
</head>
<body>
    <div class="background-overlay"></div>
    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <div class="register-form">
            <h2>@ViewData["Title"]</h2>

            <ValidationSummary ModelOnly="true" class="text-danger" />

            <input asp-for="Input.Username" class="input-field" placeholder="Име и фамилия" />
            <ValidationMessage For="Input.Username" class="text-white" />

            <input asp-for="Input.Email" class="input-field" placeholder="Имейл" />
            <ValidationMessage For="Input.Email" class="text-white" />

            <input asp-for="Input.Password" class="input-field" placeholder="Парола" />
            <ValidationMessage For="Input.Password" class="text-white" />

            <input asp-for="Input.ConfirmPassword" class="input-field" placeholder="Потвърди парола" />
            <ValidationMessage For="Input.ConfirmPassword" class="text-white" />

            <button type="submit" class="register-button">Регистрация</button>

            <div class="register-text">
                <p>Вече имате акаунт? <a asp-area="Identity" asp-page="/Account/Login">Вход</a></p>
            </div>
        </div>
    </form>

    <div class="footer">
        <footer>
            <p>All rights reserved &copy;</p>
        </footer>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
