@page
@model AutoDetailingApp.Areas.Identity.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Регистриране";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/register.css">
</head>
<body>
    <div class="background-overlay"></div>
    <form method="post">
        <div class="register-form">
            <h2>@ViewData["Title"]</h2>
            <input type="Name" class="input-field" placeholder="First and last name">
            <input type="Email" class="input-field" placeholder="Email">
            <input type="password" class="input-field" placeholder="Enter your password">
            <input type="confirm-password" class="input-field" placeholder="Confirm your password">

            <button class="register-button">Register</button>

            <p class="register-text">Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
        </div>    
    </form>

    <div class="footer">
        <footer>
            <p>All rights reserved &copy;</p>
        </footer>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
