@section Styles {
    <link rel="stylesheet" href="~/css/adminIndex.css"/>
}

@{
    ViewData["Title"] = "Admin Panel";
}

<div class="main-page">
    <h1>ADMIN Dashboard</h1>
    <div class="dashboards">
        <div class="dashbox">
            <h2>Reservations</h2>
            <p>Място за резервациите!</p>
            <a asp-area="Admin" asp-controller="ClientInformation" asp-action="Details">Open</a>
        </div>
        <div class="dashbox">
            <h2>Contact Forms</h2>
            <p>Място за запитвания!</p>
            <a asp-area="Admin" asp-controller="ClientInformation" asp-action="ContactDetails">Open</a>
        </div>
    </div>
</div>